<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PharmecyMgt.Properties.Settings.Pharmecy_Mgt_ConnectionString"
            connectionString="Data Source=Paul-PC\sqlexpress;Initial Catalog=&quot;Pharmecy Mgt.&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PharmecyMgt.Properties.Settings.Pharmecy_Mgt_ConnectionString1"
            connectionString="Data Source=anu-pc\sqlexpress;AttachDbFilename=&quot;C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\Data\Pharmecy Mgt..mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PharmecyMgt.Properties.Settings.Pharmecy_Mgt_ConnectionString2"
            connectionString="Data Source=anu-pc\sqlexpress;Initial Catalog=&quot;Pharmecy Mgt.&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PharmecyMgt.Properties.Settings.Pharmecy_mgtConnectionString"
            connectionString="Data Source=Paul-PC\sqlexpress;Initial Catalog=Pharmecy_mgt;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PharmecyMgt.Properties.Settings.Pharmecy_Mgt_ConnectionString3"
            connectionString="Data Source=PAUL-PC\SQLEXPRESS;Initial Catalog=&quot;Pharmecy Mgt.&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>